@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html {
  box-sizing: border-box;
}
body {
  margin-top: 50px;
}
.container {
  max-width: 980px;
  margin: 0 auto;
  width: 90%;
}
nav {
  font-family: 'Bebas Neue', cursive;
  background-color: #242424;
  font-size: 18px;
}
nav ul {
  display: flex;
  text-transform: uppercase;
}
nav ul li {
  display: flex;
}
nav ul li a {
  padding: 12px 12px 10px 12px;
  color: white;
  text-decoration: none;
  margin-right: 1px;
  background-color: #363636;
}
nav ul li a:hover {
  color: #7dadd1;
}
