body {
  margin-top: 50px;
}
.container {
  background-color: yellow;
  max-width: 980px;
  height: 35px;
  margin: 0 auto;
  width: 90%;
}
nav ul {
  display: flex;
  text-transform: uppercase;
}
nav ul li a {
  background-color: red;
  padding: 20px;
  color: white;
}
nav ul li a:hover {
  color: #7dadd1;
}
